*{
    margin: 0;
    padding: 0;
    font-family: Century;
}
#banner{
    background-image: url(bbs.jpg);
    background-size: cover;
    background-position:center;
    height:170vh;
}

.banner-text{
    text-align: center;
    
}
.banner-text h1{
    font-size: 130px;
    color: rgb(21, 6, 61);
    font-style: monospace;
    padding-top: 50px;
}
.banner-text p{
    font-size: 30px;
    font-style:italic;  
    color: rgb(59, 30, 12);
    text-shadow: #000;
    padding-top: 20px;
}
.banner-btn{
    margin: 100px auto 0;
}
.banner-btn a{
    width: 190px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: rgb(19, 1, 1);
    border: .8px solid rgb(8, 1, 1);
    position: relative;
    z-index: 1;
    transition: color 0.5;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(237, 238, 238);
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: rgb(8, 1, 1);
}
.banner-text h2{
    font-size: 30px;
    font-style:italic;  
    color: rgb(59, 30, 12);
    text-shadow: #000;
    padding-bottom: 20px;
    margin-top: 80px;
}
